* {
    font-family: Montserrat;
}
body {
    background-color: gainsboro;
}
label {
    display: block;
    margin-bottom: 5px;
}
.countdown-timer__wrapper {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.form__item {
    margin: 20px 0;
}