* {
    font-family: Montserrat;
}
.weather__container {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
}
.weather__left-column {
    display: flex;
    flex-direction: column;
}
.weather__time {
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.weather__right-column {
    display: flex;
    flex-direction: column;
}
.weather__icon {
    width: 80px;
    height: 80px;
}
.weather__refresh-button {
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    padding: 0;
    max-width: 50px;
}
.weather__refresh-icon {
    width: 50px;
    height: 50px;
}
._rotate {
    transition: 2s;
    transform: rotate(360deg);
}

/* ---------------------Color themes------------------- */
._day {
    background: linear-gradient(#b2b9ff, #5771ff);
}
._evening {
    background: linear-gradient(#e66465, #9198e5);
}
._night {
    background: linear-gradient(#000b49, #3e4ce4);
}