.TaskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 10px;
    background-color: gainsboro;
    border-radius: 10px;
}
.TaskItem__interaction-container {
    display: flex;
    align-items: center;
}
.TaskItem__interaction-container button {
    margin: 0 5px;
}
.TaskItem__text {
    text-align: start;
}
.TaskItem__checkbox {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
._crossed {
    text-decoration: line-through;
}

._edited {
    background-color: rgb(182, 182, 182);
}